@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&family=Momo+Signature&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Preahvihear&display=swap');

:root{
    --dark-blue:#03045E;
    --dark-brown:#474306;
    --yellow:#F5EE84;
    --light-yellow:#FBF8CC;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--light-yellow);
    font-family: 'Poppins';
}

.container{
    
    max-width: 1240px;
    width: 100%;
   margin: 0 auto;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    margin-bottom: 6rem;
}   

.nav-logo{
      color: var(--dark-blue);
    font-size: 1.5rem;
    font-weight: 600;
}

.nav-items{
    display: flex;
    justify-content: space-between;
    max-width: 250px;
    width: 100%;
}

.nav-items a{
    text-decoration: none;
    color: var(--dark-blue);
    font-weight: 400;
    
}

.nav-icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 150px;
    width: 100%;
}


/* Hero section */
.hero-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-section .left-section{
    flex: 2;
    color: var(--dark-blue) ;
}

.left-section h3{
    font-size: 1.75rem;
}

.left-section h1{
    font-size: 6.25rem;
    line-height: 1.1;
}

.left-section .left-button{
    margin-top: 2rem;
    position: relative;
    display: inline-block;
}

.left-section .left-button button{
   padding: 1rem 2rem;
   background-color: transparent;
   border: 1px solid var(--dark-brown);
   border-radius: 7px;
   cursor: pointer;
   color: var(--dark-brown);
  transition: all 0.3s ease-in;
}

.left-section .left-button button:hover{
    transform: translate(5% , 5%);
}


.left-section .left-button .button-rectangle{
    background-color: var(--yellow);
    position: absolute;
   width: 100%;
   height:100%;
   top: 10%;
   left: 4%;
   z-index: -1;
   border-radius: 7px;


}

.hero-section .right-section{
    flex: 1;
}


.right-section .right-images{
    position: relative;
}

.right-images .group-6{
    position: absolute;
    left: 0;
    top: 70%;
}

.right-images .group-10{
    position: absolute;
    right: 10%;
}


.about-section h2{
    font-size: 6.25rem;
    color: var(--yellow);
}

.about-section p{
    font-size: 1.5rem;
    max-width: 900px;
    width: 100%;
}


.timeline-content .timeline-year{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--dark-blue);
}

.timeline-dot{
    width: 13px;
    height: 13px;
    background-color: var(--dark-blue);
    border-radius: 50%;
    margin-top: 0.7rem;
}

.timeline{
    display: flex;
    flex-direction: column;
    align-items: end;
}

.timeline-item{
    display: flex;
    gap: 1.2rem;
    margin-bottom: 5rem;
}

.about-section .subheading{
    margin-bottom: 5rem;
}


/* work section */
.work-section h2{
    font-size: 6.25rem;
    color: var(--yellow);
}

.work-section .subheading{
    font-size: 1.5rem;
    max-width: 900px;
    width: 100%;
    margin-bottom: 6rem;
}

.work-section-content{
    display: flex;
    justify-content: space-between;
}

.work-section-card{
    max-width: 560px;
    width: 100%;
}

.work-section-card p{
    font-size: 1.125rem;
}

.work-section-card div{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--dark-blue);
    margin-bottom: 1rem;
}

.work-section-card i{
    margin-bottom: 1rem;
    display: block;
}

@media (max-width:1024px){
    .container{
        padding: 0 3rem;
    }

    .nav-logo{
        font-size: 1.2rem;
    }

    .nav-items a{
        font-size: 0.8rem;
    }

    .nav-icons img{
        width: 70%;
    }

    .left-section{
        max-width: 600px;
    }

    .left-section h3{
        font-size: 1.4rem;
    }

    .left-section h1{
        font-size: 5rem;
    }

    .right-section .right-images img{
        max-width: 300px;
    }

    

    .about-section .timeline{
      align-items: start;
    }

    .about-section p{
        font-size: 1.2rem;
        
    }

    .timeline-item{
        max-width: 700px;
        width: 100%;
    }

    .timeline-item .timeline-dot{
        flex-shrink: 0;
    }

    .work-section-content{
        flex-direction: column;
        align-items: center;
    }

    .work-section-card img{
        max-width: 400px;
        width: 100%;
    }
}

@media (max-width:768px){
    .hero-section{
        flex-direction: column;
    }

    .left-section{
        text-align: center;
        margin-bottom: 5rem;
    }

    .nav-items a{
        display: none;
    }

    .nav-icons img{
        display: none;
    }
}
